Django==5.0.1
asgiref==3.7.2
dj-database-url==2.1.0
django-browser-reload==1.12.1
django-crispy-forms==2.1
django-heroku==0.3.1
django-phonenumber-field==7.3.0
django-tailwind==3.8.0
django-widget-tweaks==1.5.0
mysqlclient==2.2.1
whitenoise==6.6.0
